In [2]:
pip install mlxtend

Collecting mlxtend
  Downloading https://files.pythonhosted.org/packages/64/e2/1610a86284029abcad0ac9bc86cb19f9787fe6448ede467188b2a5121bb4/mlxtend-0.17.2-py2.py3-none-any.whl (1.3MB)
     |████████████████████████████████| 1.3MB 818kB/s eta 0:00:01
Requirement already satisfied: matplotlib>=3.0.0 in ./opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (3.1.1)
Requirement already satisfied: numpy>=1.16.2 in ./opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.17.2)
Requirement already satisfied: joblib>=0.13.2 in ./opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: pandas>=0.24.2 in ./opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.25.1)
Requirement already satisfied: setuptools in ./opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (41.4.0)
Requirement already satisfied: scikit-learn>=0.20.3 in ./opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.21.3)
Requirement already satisfied: scipy>=1.2.1 in ./opt/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in ./opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: six in ./opt/anaconda3/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.12.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.17.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
from mlxtend.frequent_patterns import apriori

# Exercise 1.1

In [5]:
dataset = [['Drink', 'Nuts', 'Diaper'],
           ['Drink', 'Coffee', 'Diaper'],
           ['Drink', 'Diaper', 'Eggs'],
           ['Nuts', 'Eggs', 'Milk'],
           ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk']]

In [6]:
dataset

[['Drink', 'Nuts', 'Diaper'],
 ['Drink', 'Coffee', 'Diaper'],
 ['Drink', 'Diaper', 'Eggs'],
 ['Nuts', 'Eggs', 'Milk'],
 ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk']]

# Exercise 1.2

In [7]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

TranEncod = TransactionEncoder()
te_ary = TranEncod.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=TranEncod.columns_)

In [8]:
df

   Coffee  Diaper  Drink   Eggs   Milk   Nuts
0   False    True   True  False  False   True
1    True    True   True  False  False  False
2   False    True   True   True  False  False
3   False   False  False   True   True   True
4    True    True  False   True   True   True

# Exercise 1.3

<h2>P(B|A) = |B∩A| / |A|<h2>
  
<p>Drink=3 Nuts=3 Eggs=3 Diaper=4 Milk=2 Coffee=2<p>   
<p>Drink - Diaper = 3 / 3 * 100 = 100% <p>   
<p>Diaper - Drink = 3 / 4 * 100 = 75% <p>
<p>Diaper - Nuts = 2 / 4 * 100 = 50% <p>
<p>Diaper - coffee = 2 / 4 * 100 = 50% <p>
<p>Diaper - eggs = 2 / 4 * 100 = 50% <p>
<p>Nuts - Diaper = 2 / 3 * 100 = 66.5% <p>
<p>Nuts - Milke = 2 / 3 * 100 = 66.5% <p>
<p>Nuts - eggs = 2 / 3 * 100 = 66.5% <p>
<p>Coffee - Diaper = 2 / 2 * 100 = 100% <p>
<p>Eggs - Diaper = 2 / 3 * 100 = 66.5% <p>
<p>Eggs - Nuts = 2 / 3 * 100 = 66.5% <p>
<p>Eggs - Milke = 2 / 3 * 100 = 66.5% <p>

In [9]:
apriori(df, min_support=0.6)

   support itemsets
0      0.8      (1)
1      0.6      (2)
2      0.6      (3)
3      0.6      (5)
4      0.6   (1, 2)

In [10]:
apriori(df, min_support=0.6, use_colnames=True)

   support         itemsets
0      0.8         (Diaper)
1      0.6          (Drink)
2      0.6           (Eggs)
3      0.6           (Nuts)
4      0.6  (Drink, Diaper)

In [11]:
apriori(df, min_support=0.3, use_colnames=True)

    support            itemsets
0       0.4            (Coffee)
1       0.8            (Diaper)
2       0.6             (Drink)
3       0.6              (Eggs)
4       0.4              (Milk)
5       0.6              (Nuts)
6       0.4    (Diaper, Coffee)
7       0.6     (Drink, Diaper)
8       0.4      (Eggs, Diaper)
9       0.4      (Diaper, Nuts)
10      0.4        (Milk, Eggs)
11      0.4        (Eggs, Nuts)
12      0.4        (Milk, Nuts)
13      0.4  (Milk, Eggs, Nuts)

In [12]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

   support         itemsets  length
0      0.8         (Diaper)       1
1      0.6          (Drink)       1
2      0.6           (Eggs)       1
3      0.6           (Nuts)       1
4      0.6  (Drink, Diaper)       2

In [13]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.5) ]

   support         itemsets  length
4      0.6  (Drink, Diaper)       2

In [14]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Diaper', 'Drink'} ]

   support         itemsets  length
4      0.6  (Drink, Diaper)       2